asgiref==3.3.1
certifi==2020.12.5
chardet==3.0.4
Django==3.1.4
django-crispy-forms==1.10.0
django-crontab==0.7.1
django-leaflet==0.27.1
django-progressive-web-app==0.1.1
django-pwa==1.0.10
dload==0.6
idna==2.10
psycopg2==2.8.6
pytz==2020.4
requests==2.25.0
sqlparse==0.4.1
urllib3==1.26.2
uWSGI==2.0.19.1
whitenoise==5.2.0
