{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-12">
			<div id="map"></div>
		</div>
		<div class="col-lg-4 col-md-12">
			<form id = "form">
			<div class="form-group">
				<label for="comment">Comment:</label>
				<textarea class="form-control" rows="5" id="comment"></textarea>
				<label for="rating">Rating 0-5: </label>
				<input class="form-control" type="number" name="rating" id="rating" min="0" max="5">
				<input class="btn btn-primary btn-block mt-3" type="submit" value="Submit">
			  </div>
			</form>
			<h2 class="text-center">Your Favourite Spots</h2>
			<ul class="list-group">
				{% for post in posts %}
					{% if post.profile.id == user.id%}
					<li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action" onclick="focusOn({{post.id}})">
						{{post.comment}}
						<span class="badge badge-primary badge-pill">{{ post.rating }}</span>
					  </li>
					  {% endif %}
				{% endfor %}
			  </ul>
			  <h2 class="text-center">How To Use:</h2>
			  <ol>
				  <li>Click where you have been on the map</li>
				  <li>Enter a comment and rate it 0 through 5</li>
				  <li>Click submit to add it to your favourite spots and share with others</li>
			  </ol>
		</div>
	  </div>
</div>

<script type="application/javascript" src="{% static "js/mapSetup.js" %}"></script>

<!--This script tag makes heavy use of django template stuff so can't be shipped out to a seperate file-->
<script>
$.getJSON("{% url 'local_area' %}", function(data) {
	L.geoJSON(data, {
			style: geojsonStyle,
	}).addTo(map)
})

let coords = "0.0,0.0";
let curMarker = null;

function onMapClick(e) {
		if (curMarker != null) {
			map.removeLayer(curMarker)
		}
        coords = e.latlng;
        let lat, lng = [coords.lat ,coords.lng];
        let test = coords.lat + ',' + coords.lng;
		curMarker = L.marker([coords.lat, coords.lng], {icon: greenIcon}).addTo(map)
        coords=test
}

map.on('click', onMapClick);

const form = document.getElementById('form');

let submitThis = () => {
	$.ajax({
            type: "POST",
            headers: {
            },
            url: "/create_post/",
            data: {
                point: coords,
        		comment: form.elements.comment.value,
        		rating: form.elements.rating.value,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }
        }).done(function (data, status, xhr) {
            console.log(data["message"])
            console.log("success")
			location.reload();  
        }).fail(function (xhr,staus, error) {
            console.log(error);
        }).always(function () {
            console.log("reload");
			location.reload();  
        });
}

form.addEventListener('submit', submitThis);
const mydata = {{json|safe}}

let userID = {{user.id}}
let postsArray = mydata.map(test => {
	 let coord = Array(test["fields"].location.split('SRID=4326;POINT (')[1]).pop().split(' ')
	return {
	key: test["pk"],
	lat: coord[0],
	long: coord[1].slice(0, -1),
	rating: test["fields"].rating,
	comment: test["fields"].comment,
	profile: test["fields"].profile
	}
})

let container = document.createElement('div');
let button = document.createElement('button')
button.classList.add("trigger");
button.innerHTML ="Delete me"

container.appendChild(button)

let featureGroup = L.featureGroup().addTo(map).on("click", groupClick);
let marker = null;
let test = null;

// This is a work around to map between post owner id and name in js specifically for leaflet
// if it was just in plain html in a django template i could just do post.profile OR post.profile.id
let postTest = `{{posts|safe}}`

postTest = postTest.split('<Post:')

postTest.shift()

mapTest = postTest.map(loc => {
 return loc.split(',')}
)

nameMap = mapTest.map(arr => {
return {"lat": arr[0], "long": arr[1], "name": arr[2]}})

// This big loop makes a marker for each post
for (let i = 0; i < postsArray.length; i++) {
	let owner = null;
	test = postsArray[i].key
	for (let j = 0; j < nameMap.length; j++) {

		if(postsArray[i].long == nameMap[j].long) {
			owner = nameMap[j].name;
		}
	}
	let comment = postsArray[i].comment
	let popup = null;
	if (postsArray[i].profile === userID) {
		popup = L.popup().setContent('<p>User:' + owner + '</p><p>' + comment +'</p><button class="trigger btn-xs btn-danger" id=' + test + '> Delete </a>');
		marker = L.marker([postsArray[i].lat, postsArray[i].long], {icon: violetIcon}).addTo(featureGroup).bindPopup(popup);
		marker.test = test
	} 
}

function groupClick(event) {
	console.log("Clicked on a marker" + event.layer.test);
}



$('#map').on('click', '.trigger', function(event) {
		$.ajax({
            type: "POST",
            headers: {
            },
            url: "/delete/" + this.id + '/',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }
        }).done(function (data, status, xhr) {
            console.log(data["message"])
            console.log(" delete success")
			location.reload();  
        }).fail(function (xhr,staus, error) {
            console.log(error);
        }).always(function () {
            console.log("delete finished");
        });
});

function focusOn(id) {
	var match = featureGroup.eachLayer(function(layer) {
		if (layer.test === id) {
			layer.openPopup()
		}
})}
</script>
   
{% endblock %}