{% extends "base.html" %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-12">
			<div id="map"></div>
		</div>
		<div class="col-lg-4 col-md-12">
			<form id = "form">
			<div class="form-group">
				<label for="comment">Comment:</label>
				<textarea class="form-control" rows="5" id="comment"></textarea>
				<label for="rating">Rating 0-5: </label>
				<input class="form-control" type="number" name="rating" id="rating" min="0" max="5">
				<input class="btn btn-primary btn-block mt-3" type="submit" value="Submit">
			  </div>
			</form>
			<h2 class="text-center">Your Favourite Spots</h2>
			<ul class="list-group">
				{% for post in posts %}
				<!-- <form action="{% url 'delete_post' post.pk %}" method="POST"> 
					{% csrf_token %}
					<script>
				</script>
					<li><a href="#" onclick="focusOn({{post.id}})">{{post.comment}}</a></li>
				  <li>{{ post.rating }}</li>
				  <input class="btn btn-warning" type="submit" value="Delete" /> 
				</form>  -->


					<li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action" onclick="focusOn({{post.id}})">
						{{post.comment}}
						<span class="badge badge-primary badge-pill">{{ post.rating }}</span>
					  </li>
				{% endfor %}
			  </ul>
			  <h2 class="text-center">How To Use:</h2>
			  <ol>
				  <li>Click where you have been on the map</li>
				  <li>Enter a comment and rate it 0 through 5</li>
				  <li>Click submit to add it to your favourite spots and share with others</li>
			  </ol>
		</div>
	  </div>
</div>



<script>
 let map = L.map("map").setView([53.2734, -7.77832031], 7);

let osm = L.tileLayer(
  "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
  {
	attribution:
	  "&copy; <a href='https://openstreetmap.org/copyright'> Openstreet map</a> contributors",
  }
);
osm.addTo(map);

function geojsonStyle(feature){
	return {
		fillColor: getColor(feature.properties.p14_100k),
		weight: .1,
		opacity: 1, 
		color: 'white',
		fillOpacity: 0.3
	}
}

function getColor(cases) {
	if (cases >  200) {
		return 'black'
	} else if (cases > 100) {
		return 'darkred'
	} else if (cases > 50) {
		return 'red'
	} else if (cases > 25){
		return 'orange'
	} else if (cases > 10) {
        return 'yellow'
    }  else {
        return 'papayawhip'
    }
}

$.getJSON("{% url 'local_area' %}", function(data) {
	console.log(data);
	L.geoJSON(data, {
			style: geojsonStyle,
	}).addTo(map)
})

let coords = "0.0,0.0";
let curMarker = null;

function onMapClick(e) {

		if (curMarker != null) {
			map.removeLayer(curMarker)
		}
        coords = e.latlng;
        console.log(coords)
        let lat, lng = [coords.lat ,coords.lng];
        console.log(coords.lat)
        console.log(coords.lng)
        let test = coords.lat + ',' + coords.lng;
        console.log(test)
		curMarker = L.marker([coords.lat, coords.lng]).addTo(map)
        coords=test
}

map.on('click', onMapClick);

const form = document.getElementById('form');

let submitThis = () => {
    console.log({
        point: coords,
        comment: form.elements.comment.value,
        rating: form.elements.rating.value
    })

	$.ajax({
            type: "POST",
            headers: {
            },
            url: "/create_post/",
            data: {
                point: coords,
        		comment: form.elements.comment.value,
        		rating: form.elements.rating.value,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }
        }).done(function (data, status, xhr) {
            console.log(data["message"])
            console.log("success")
			location.reload();  
        }).fail(function (xhr,staus, error) {
            console.log(error);
        }).always(function () {
            console.log("reload");
			location.reload();  
        });
}

form.addEventListener('submit', submitThis);
const mydata = {{json|safe}}
console.log(mydata)
let userID = {{user.id}}
console.log('userID' + userID)
let mapThis = mydata.map(test => {
	 let coord = Array(test["fields"].location.split('SRID=4326;POINT (')[1]).pop().split(' ')
	return {
	key: test["pk"],
	lat: coord[0],
	long: coord[1].slice(0, -1),
	rating: test["fields"].rating,
	comment: test["fields"].comment,
	profile: test["fields"].profile
	}
})

let container = document.createElement('div');
let button = document.createElement('button')
button.classList.add("trigger");
button.innerHTML ="Delete me"

container.appendChild(button)

let featureGroup = L.featureGroup().addTo(map).on("click", groupClick);
let marker = null;
let test = null;

console.log('mapthis test' + mapThis[0].key)

for (let i = 0; i < mapThis.length; i++) {
	test = mapThis[i].key
	let owner = mapThis[i].profile
	let popup = null;
	if (owner == userID) {
		popup = L.popup().setContent('<button class="trigger" id=' + test + ' > ' + test + ' </a>');

	} else {
		popup = L.popup().setContent('<div id=' + test + ' > you will never get this </a>');
	}
	marker = L.marker([mapThis[i].lat, mapThis[i].long]).addTo(featureGroup).bindPopup(popup);
		marker.test = test
}

function groupClick(event) {
	console.log("Clicked on a maerker" + event.layer.test);
}

console.log(mapThis)

$('#map').on('click', '.trigger', function(event) {
    console.log(this.id);
		$.ajax({
            type: "POST",
            headers: {
            },
            url: "/delete/" + this.id + '/',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }
        }).done(function (data, status, xhr) {
            console.log(data["message"])
            console.log(" delete success")
			location.reload();  
        }).fail(function (xhr,staus, error) {
            console.log(error);
        }).always(function () {
            console.log("delete finished");
        });
});

function focusOn(id) {
	var match = featureGroup.eachLayer(function(layer) {
		if (layer.test === id) {
			layer.openPopup()
		}
})
}
</script>
   
{% endblock %}